@{
    Layout = "_LayoutNew";  // Pastikan nama file layout kamu sesuai
}
<!-- Table -->
<table id="categoryTable" class="table table-striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Data akan diisi melalui AJAX -->
    </tbody>
</table>

@section Scripts {
    <script>
        debugger;
        $(document).ready(function() {
            $('#categoryTable').DataTable({
                ajax: {
                    url: "@Url.Action("GetCategories", "Categories")",
                    type: "POST",
                },
                processing: true,
                serverSide: true,
                responsive: true,
                filter: true,
                lengthChange: true,
                order: [1, 'asc'],
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv', // Tombol export CSV
                        text: 'Export CSV',
                        className: 'btn btn-sm btn-success' // Menambahkan class untuk styling button
                    }
                ],
                columns: [
                    { data: 'categoryCode' },  // Sesuaikan dengan nama properti dari JSON
                    { data: 'categoryName' },  // Sesuaikan dengan nama properti dari JSON
                    { data: null}
                ]
            });
        });
    </script>
}


